/testdata/fs
/testdata/mnt
/remarkable-crypto
/backup
/dist/home/crypto/bin/cryptodaemon
/dist/home/crypto/bin/gocryptfs
/dist/home/crypto/bin/updater
/dist/home/crypto/bin/password_prompt
/dist/home/crypto/bin/print
/dist/home/crypto/bin/post-updater
/dist/home/crypto/bin/fusermount
/dist/home/crypto/lib
*.stash
*.pro.user
*.o
qrc_qml.cpp
/gui/password_prompt/password_prompt
/gui/password_prompt/Makefile
/gui/print/print
/gui/print/Makefile
/remarkable2-framebuffer
/remarkable-crypto-files.tar.gz
Vagrantfile
.vagrant
/.cache
/go

